@import './node_modules/vanillajs-datepicker/sass/datepicker';

.modal.date-inserter-modal {
  height: max-content;
  width: max-content;
  padding: 16px;

  &:has(.format-buttons) {
    padding-bottom: 16px;
  }

  .datepicker-view {
    color: #000;
  }

  .datepicker-dropdown {
    padding: 0;
  }

  .modal-close-button {
    display: none;
  }

  .modal-header {
    display: none;
  }

  .modal-content {
    height: 284px;
    min-width: 256px;
    position: relative;

    &:has(.format-buttons) {
      height: calc(284px + 12px + 2rem);
    }
  }

  .invisible-input {
    opacity: 0;
    pointer-events: none;
    height: 284px;
    position: relative;
  }

  .datepicker {
    left: 0 !important;
    top: 0 !important;
    position: absolute;

    .datepicker-picker {
      position: relative;
    }
  }

  .format-buttons {
    width: 100%;
    height: 2rem;
    position: sticky;
    bottom: 0px;
    margin-top: 16px;

    & button {
      width: 50%;
      height: 2rem !important;
      padding: 0 0.5rem;

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }

      &.selected {
        background-color: hsl(171, 100%, 41%);
        color: #fff;
      }

      & span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.is-mobile .modal.date-inserter-modal {
  .modal-close-button {
    display: flex;
  }

  .modal-header {
    display: initial;
  }

  .modal-content {
    min-height: 340px;
    min-width: 306px;
    margin-top: 0.75rem;
    padding: 0;

    &:has(.format-buttons) {
      height: calc(340px + 2.5rem + 16px);
    }

    .invisible-input {
      height: 340px;
    }
  }

  .datepicker {
    width: 303px;
    top: 16px !important;

    .days {
      .dow {
        width: 42.75px;
        height: 28.5px;
      }
      .day {
        width: 42.75px;
        height: 42.75px;
      }
    }
  }

  .format-buttons {
    height: initial;
  }
}

.is-phone .modal.date-inserter-modal {
  .datepicker {
    top: 1px !important;
    left: 1px !important;
  }
}

.setting-date-format-description {
  padding: 0 0 1rem 0.5rem;
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-tight);

  .format-details {
    margin-top: 0.5rem;
  }
  a {
    margin-left: 0.5rem;
  }
}

.setting-day-of-week {
  padding-left: 0.5rem;
}

// Color Scheme for dark
body.theme-dark .modal.date-inserter-modal {
  .datepicker-picker {
    background-color: var(--color-base-25) !important;
  }

  .datepicker-dropdown .datepicker-picker {
    box-shadow:
      0 2px 3px var(--color-base-40),
      0 0 0 1px var(--color-base-40) !important;
  }

  .datepicker-controls .button {
    background-color: var(--color-base-25) !important;
    color: var(--text-normal) !important;
  }

  .datepicker-header .datepicker-controls .button {
    border-color: transparent !important;
  }

  .datepicker-header .datepicker-controls .button:hover {
    background-color: var(--color-base-40) !important;
  }

  .datepicker-header .datepicker-controls .button:active {
    background-color: var(--color-base-40) !important;
  }

  .datepicker span {
    color: var(--text-normal) !important;
  }

  .datepicker-cell:not(.disabled):hover {
    background-color: var(--color-base-30) !important;
  }

  .datepicker-cell.focused:not(.selected) {
    background-color: var(--color-base-40) !important;
  }

  .datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
    background-color: var(--color-base-30) !important;
  }

  .datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
    background-color: var(--color-base-40) !important;
  }

  .datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
    background-color: var(--color-base-40) !important;
  }

  .datepicker-cell.today:not(.selected) {
    background-color: hsl(171, 100%, 30%) !important;
  }

  .format-buttons button.selected {
    background-color: hsl(171, 100%, 30%);
  }
}
