@import './node_modules/vanillajs-datepicker/sass/datepicker';

.modal.date-inserter-modal {
    width: 340px;
	height: 388px;

    .datepicker-view {
        color: #000;
    }

    .modal-content {
        height: 305px;
		display: flex;
		justify-content: center;
    }

    .invisible-input {
		opacity: 0;
        pointer-events: none;
        height: 30px;
	}

	.datepicker {
		left: initial !important;
		top: 30px !important;

		.datepicker-picker {
			position: relative;
			border: 0;
		
			.datepicker-header {
				display: block;
			}
		}
	}
}

.is-phone .modal.date-inserter-modal {
	position: relative;
	width: 320px;
	height: 350px;	

	.modal-content {
		position: initial;
		flex-direction: initial;
	}

	.datepicker {
		top: 35px !important;
	}
}


.setting-date-format-description {
	padding: 0 0 1rem 0.5rem;
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
	line-height: var(--line-height-tight);

	.format-details {
		margin-top: 0.5rem;
	}
	a {
		margin-left: 0.5rem;
	}	
}

.setting-day-of-week {
	padding-left: 0.5rem;
}

// Color Scheme for dark
body.theme-dark .modal.date-inserter-modal {
	.datepicker-picker {
		background-color: var(--color-base-25) !important;
	}

	.datepicker-dropdown .datepicker-picker {
		box-shadow: 0 2px 3px var(--color-base-40), 0 0 0 1px var(--color-base-40) !important;
	}

	.datepicker-controls .button {
		background-color: var(--color-base-25) !important;
		color: var(--text-normal) !important;
	}

	.datepicker-header .datepicker-controls .button {
		border-color: transparent !important;
	}

	.datepicker-header .datepicker-controls .button:hover {
		background-color: var(--color-base-40) !important;
	}

	.datepicker-header .datepicker-controls .button:active {
		background-color: var(--color-base-40) !important;
	}

	.datepicker span {
		color: var(--text-normal) !important;
	}

	.datepicker-cell:not(.disabled):hover {
		background-color: var(--color-base-30) !important;
	}

	.datepicker-cell.focused:not(.selected) {
		background-color: var(--color-base-40) !important;
	}

	.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
		background-color: var(--color-base-30) !important;
	}

	.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
		background-color: var(--color-base-40) !important;
	}

	.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
		background-color: var(--color-base-40) !important;
	}

	.datepicker-cell.today:not(.selected) {
		background-color: hsl(171, 100%, 30%) !important;
	}
}
